body {
	background-image: url("http://www.scolibris.fr//fichier/post/accueil/77.jpg");
	background-size: 160%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: black;
	text-align: center;
}

body > ol > li {
	margin-left: 40%;
	margin-right: 40%;
	text-align: left;
}

body > hr {
	color: black;
	width: 70%;
	height: 2px;
}

body > p {
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}

body > ul {
	margin-left: 40%;
	margin-right: 40%;
	text-align: left;
}

span {
	font-weight: bold;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blueviolet;
}

a:hover {
	color: red;
	text-decoration: underline; 
}

li > img {
	margin-left: -25%;
}
