body {
	background-image: url("http://www.scolibris.fr//fichier/post/accueil/77.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: black;
	text-align: center;
}

body > ul > li > hr {
	margin-right: 10%;
}

body > ol > li {
	text-align: left;
	margin-left: 30%;
	margin-right: 30%;
}

body > hr {
	color: black;
	width: 70%;
	height: 2px;
}

body > p {
	text-align: justify;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(255,255,255,0.75);
}

body > ul {
	margin-left: 25%;
	margin-right: 25%;
	text-align: left;
	background-color: white;
}

span {
	font-weight: bold;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blueviolet;
}

a:hover {
	color: red;
	text-decoration: underline; 
}
