body {
	background-image: url("http://www.scolibris.fr//fichier/post/accueil/77.jpg");
	background-size: 140%;
	background-repeat: no-repeat;
	background-position: center;
	color: black;
	text-align: center;
}

hr {
	size: 2;
}

li {
	margin-left: 35%;
	margin-right: 35%;
}

p {
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}
